<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Carti" value="C://student//2022-2023//Lucru_OJTI//FreeBook//Resurse//carti.txt"/>
    <add key ="Utilizatori" value="C://student//2022-2023//Lucru_OJTI//FreeBook//Resurse//utilizatori.txt"/>
    <add key ="Imprumuturi" value="C://student//2022-2023//Lucru_OJTI//FreeBook//Resurse//imprumuturi.txt"/>
    <add key ="FolderCartiPDF" value="C://student//2022-2023//Lucru_OJTI//FreeBook//Resurse//cartipdf//"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ConnectionString"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                        AttachDbFilename=C:\student\2022-2023\Lucru_OJTI\FreeBook\FreeBookDB.mdf;
                        Integrated Security=True" />
  </connectionStrings>
</configuration>